.orderDetails {
    
    height: 80px;

}
.orderDetails img{
    
    width: 130px !important;
    height: auto !important;
}
.fa-trash:hover{
    color: brown;
    cursor: pointer;
}

.dropdown-content .fullInfo{
    display: none;
}
.shopCart .shortInfo{
    display: none;
}
.payment .check{
    display: none;
}
.payment textarea{
    display: none;
}
.payment .trash{
    display: none;   
}