@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
#logo{
    font-family: 'Dancing Script', cursive;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}