.placeAnItem p {
    /* margin:20px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  .placeAnItem img {
      height: 120px;
      width:100%;
  }